// File: firmware/include/config/credentials.h

#pragma once
// =============================================================================
// credentials.h — Kredensial WiFi dan MQTT
// =============================================================================

namespace Wifi
{
    static constexpr char SSID[] = "[IP_ADDRESS]";
    static constexpr char PASSWORD[] = "[PASSWORD]";
}

namespace Mqtt
{
    static constexpr char BROKER[] = "[IP_ADDRESS]";
    static constexpr int PORT = 1883;
    static constexpr char CLIENT_ID[] = "esp32_gateway";
    static constexpr char USER[] = "";
    static constexpr char PASSWORD[] = "";
}