namespace Wifi
{
    static constexpr char SSID[]     = "[NAMA_WIFI]";
    static constexpr char PASSWORD[] = "[PASSWORD_WIFI]";
}

namespace Mqtt
{
    static constexpr char    BROKER[]    = "[IP_ADDRESS]";
    static constexpr int     PORT        = 1883;

    // Client ID harus unik per device di jaringan MQTT yang sama
    static constexpr char    CLIENT_ID[] = "[CLIENT_ID]";

    // Credentials — kosongkan jika broker tidak pakai autentikasi
    static constexpr char    USER[]      = "[USERNAME_MQTT]";
    static constexpr char    PASSWORD[]  = "[PASSWORD_MQTT]";
}